.drop-container {
  @apply relative;
}
.li-drop {
  @apply w-full h-full flex justify-around items-center flex-col;
}

.li-drop:hover {
  @apply bg-brand-1 w-full h-full;
}

.ul-drop {
  display: none;
  @apply absolute bg-dark-1 w-28 mt-2 flex items-center justify-around flex-col list-none opacity-0 z-10 
    border border-gray-300  rounded-lg border-solid;
  transform: translateY(-10px);
  transition: all 0.4s ease;
}
.drop-container button:focus + ul {
  @apply opacity-100;
  transform: translateY(0px);
}
