.d-action {
  @apply relative w-full h-full flex justify-center items-center;
}

.d-action .three-dots {
  @apply cursor-pointer;
}

.d-action .dropdown {
  @apply absolute flex justify-center top-12;
  transition: all 0.4s ease;
}

.d-action .dropdown .wrapper {
  @apply w-40 text-center rounded-xl z-10 bg-dark-1 invisible border border-dark-9 border-solid;
  transition: opacity 0.3s, visible 1s;
}

.d-action .dropdown .wrapper .dropdown-item {
  @apply p-3 cursor-pointer text-sm;
}

.dropdown-active {
  display: inline !important;
  visibility: visible !important;
}

.d-action .dropdown .wrapper .dropdown-item:hover {
  cursor: pointer;
  background-color: #7f57ff;
}

.d-action .dropdown .wrapper .dropdown-item:hover:first-child {
  border-radius: 10px 10px 0px 0px;
}

.d-action .dropdown .wrapper .dropdown-item:hover:last-child {
  border-radius: 0px 0px 10px 10px;
}

/* CHILD */

.dropdown-child {
  @apply absolute top-0 bg-dark-1 border border-solid border-dark-9 rounded-md w-44;
  left: -180px;
}
.dropdown-item-child {
  @apply m-2;
}
::-webkit-calendar-picker-indicator {
  filter: invert(1);
}
