.app-grid-layout {
  display: grid;
  grid-template-columns: 0.2fr 1fr;
  @apply h-screen
}

.app-layout-left {
@apply bg-dark-100 p-2 mr-4 z-40;
}

.app-layout-main {
@apply h-full overflow-x-scroll pr-2;
  overflow-x: auto;
}

.app-layout-main::-webkit-scrollbar {
  display: none;
}