@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* #region  /**=========== Typography =========== */
  @font-face {
    font-family: 'Avenir-Book';
    src: url('../assets/fonts/Avenir-Book.woff2');
    font-weight: normal;
  }
}
