@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* #region  /**=========== Typography =========== */
  @font-face {
    font-family: 'Avenir Book';
    src: url('../assets/fonts/Avenir-Book.woff2');
    font-weight: normal;
  }

  :root {
    /* #region  /**=========== Brand Color =========== */
    --tw-color-brand-1: 114 84 227;
    --tw-color-brand-2: 127 94 251;
    --color-brand-1: rgb(var(--tw-color-brand-1));
    --color-brand-2: rgb(var(--tw-color-brand-2));
    /* #endregion  /**======== Brand Color =========== */

    /* #region  /**=========== Typography Color =========== */
    --tw-color-typography-1: 255 255 255;
    --tw-color-typography-2: 173 173 173;
    --tw-color-typography-3: 137 140 170;
    --color-typography-1: rgb(var(--tw-color-typography-1));
    --color-typography-2: rgb(var(--tw-color-typography-2));
    --color-typography-3: rgb(var(--tw-color-typography-3));
    /* #endregion  /**======== Typography Color =========== */

    /* #region  /**=========== Light Color =========== */
    --tw-color-light-1: 255 255 255;
    --tw-color-light-2: 144 109 255;
    --tw-color-light-3: 4 212 205;
    --tw-color-light-4: 0 182 123;
    --tw-color-light-5: 255 0 115;
    --tw-color-light-6: 70 148 242;
    --color-light-1: rgb(var(--tw-color-light-1));
    --color-light-2: rgb(var(--tw-color-light-2));
    --color-light-3: rgb(var(--tw-color-light-3));
    --color-light-4: rgb(var(--tw-color-light-4));
    --color-light-5: rgb(var(--tw-color-light-5));
    --color-light-6: rgb(var(--tw-color-light-6));
    /* #endregion  /**======== Light Color =========== */

    /* #region  /**=========== Dark Color =========== */
    --tw-color-dark-1: 42 34 46;
    --tw-color-dark-2: 53 42 57;
    --tw-color-dark-3: 48 38 51;
    --tw-color-dark-4: 62 51 68;
    --tw-color-dark-5: 63 52 67;
    --tw-color-dark-6: 73 63 77;
    --tw-color-dark-7: 88 88 88;
    --tw-color-dark-8: 143 140 144;
    --tw-color-dark-9: 154 148 156;
    --color-dark-1: rgb(var(--tw-color-dark-1));
    --color-dark-2: rgb(var(--tw-color-dark-2));
    --color-dark-3: rgb(var(--tw-color-dark-3));
    --color-dark-4: rgb(var(--tw-color-dark-4));
    --color-dark-5: rgb(var(--tw-color-dark-5));
    --color-dark-6: rgb(var(--tw-color-dark-6));
    --color-dark-7: rgb(var(--tw-color-dark-7));
    --color-dark-8: rgb(var(--tw-color-dark-8));
    --color-dark-9: rgb(var(--tw-color-dark-9));
    /* #endregion  /**======== Dark Color =========== */

    /* #region  /**=========== Status Color =========== */
    --tw-color-status-1: 0 182 123;
    --tw-color-status-2: 107 21 0;
    --tw-color-status-3: 145 27 1;
    --tw-color-status-4: 196 42 2;
    --tw-color-status-5: 248 85 0;
    --tw-color-status-6: 248 133 2;
    --color-status-1: rgb(var(--tw-color-status-1));
    --color-status-2: rgb(var(--tw-color-status-2));
    --color-status-3: rgb(var(--tw-color-status-3));
    --color-status-4: rgb(var(--tw-color-status-4));
    --color-status-5: rgb(var(--tw-color-status-5));
    --color-status-6: rgb(var(--tw-color-status-6));
    /* #endregion  /**======== Status Color =========== */
  }

  .valid input[type='email'],
  .valid input[type='text'],
  .valid input[type='password'],
  .valid input[type='number'] {
    @apply border-brand-1 text-brand-1;
  }

  .valid .feedback {
    @apply border-brand-1;
  }

  .invalid input[type='email'],
  .invalid input[type='text'],
  .invalid input[type='number'],
  .invalid input[type='password'] {
    @apply border-status-6 text-light-5;
  }

  .invalid .feedback {
    @apply border-light-5;
  }

  .textfield-container {
    @apply relative w-full h-14 my-3;
  }

  .textfield-input {
    @apply absolute  p-3.5 pt-8 top-0 left-0 w-full h-full text-base text-light-1 ring-1 ring-dark-1 rounded-md outline-none bg-brand-1 bg-opacity-0 z-0;
  }

  .textfield-label {
    @apply absolute top-4 left-3 duration-200 cursor-text;
  }

  /*Input focus move up label*/

  .textfield-input:focus + .textfield-label {
    @apply top-1 left-3.5 text-brand-1 text-sm font-medium z-10 bg-brand-1 bg-opacity-0;
  }

  /*Input focus sticky top label*/

  .textfield-input:not(:placeholder-shown).textfield-input:not(:focus)
    + .textfield-label {
    @apply top-1 left-3.5 text-sm font-medium z-10 bg-brand-1 bg-opacity-0;
  }

  /*Input focus*/

  .textfield-input:focus {
    @apply ring-2 ring-brand-1;
  }

  html {
    font-family: Avenir Book, system-ui, sans-serif;
  }
  td {
    @apply border-b border-solid border-dark-9;
  }
  th {
    @apply border-b border-solid border-dark-9;
  }
  ::-webkit-calendar-picker-indicator {
    filter: invert(1);
  }
  ::-webkit-scrollbar {
    display: none;
  }
}
