.summary-insight {
  @apply grid grid-cols-5 gap-4 pt-4 pb-4 w-full;
}
.summary-insight-box {
  @apply bg-brand-2 text-center w-full pl-10 pr-10 pt-6 pb-6;
}

.card {
  position: relative;
}

.card .presentation {
  position: absolute;
  right: 20px;
  bottom: 30px;
}
.card_container {
  @apply cursor-pointer w-20 h-8 text-center justify-center text-dark-9 hover:bg-dark-6 hover:bg-opacity-50 dark:text-dark-9 flex items-center px-2 py-2 font-semibold rounded-md antialiased;
}
