.react-slideshow-container {
  @apply flex items-center relative top-0 left-0 rounded-md overflow-hidden;
}

.react-slideshow-container .nav {
  @apply z-10;
}

.react-slideshow-container .default-nav {
  @apply flex justify-center items-center cursor-pointer text-center text-white border-0 h-8 w-8 bg-gray-300 bg-opacity-60 rounded-md;
}

.react-slideshow-container .default-nav:hover,
.react-slideshow-container .default-nav:focus {
  @apply outline-none text-dark-300 bg-gray-100;
}

.react-slideshow-container .default-nav.disabled:hover {
  @apply cursor-not-allowed;
}

.react-slideshow-container .default-nav:first-of-type {
  @apply -mr-8 border-r-0 border-t-0;
}

.react-slideshow-container .default-nav:last-of-type {
  @apply ml-8;
}

.react-slideshow-container + ul.indicators {
  display: -webkit-box;
  display: -ms-flexbox;
  -ms-flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  @apply flex flex-wrap justify-center;
}

.react-slideshow-container + ul.indicators li {
  @apply inline-block relative h-2 w-2 p-2 m-0;
}

.react-slideshow-container + ul.indicators .each-slideshow-indicator {
  @apply border-0 opacity-25 cursor-pointer bg-transparent text-transparent;
}

.react-slideshow-container + ul.indicators .each-slideshow-indicator:before {
  content: "";
  @apply relative top-0 left-0 h-2 w-2 bg-dark-300 text-center rounded-md;
}

.react-slideshow-container + ul.indicators .each-slideshow-indicator:hover,
.react-slideshow-container + ul.indicators .each-slideshow-indicator.active,
.react-slideshow-container + ul.indicators .each-slideshow-indicator:focus {
  @apply outline-none opacity-75;
}

.react-slideshow-fade-wrapper {
  @apply w-full overflow-hidden;
}

.react-slideshow-fade-wrapper .react-slideshow-fade-images-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  -ms-flex-wrap: wrap;
  @apply flex flex-wrap;
}

.react-slideshow-fade-wrapper .react-slideshow-fade-images-wrap > div {
  @apply relative opacity-0;
}

.react-slideshow-wrapper.slide {
  @apply w-full overflow-hidden;
}

.react-slideshow-wrapper .images-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  -ms-flex-wrap: wrap;
  @apply flex flex-wrap;
}

.react-slideshow-zoom-wrapper {
  @apply w-full overflow-hidden;
}

.react-slideshow-zoom-wrapper .zoom-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  -ms-flex-wrap: wrap;
  @apply flex flex-wrap overflow-hidden;
}

.react-slideshow-zoom-wrapper .zoom-wrapper > div {
  display: -webkit-box;
  display: -ms-flexbox;
  @apply relative flex;
}
