.icon-stroke-color {
  @apply text-dark-1 dark:text-dark-9;
  /* stroke-current */
  /* dark: should grey */
}

.icon-fill-color {
  @apply text-dark-1 dark:text-dark-9;
  /* fill-current */
  /* dark: should grey */
}
.flex-center {
  @apply flex justify-center items-center h-full;
}
h1 {
  @apply text-typography-1 text-xl;
}
h2 {
  @apply text-typography-1;
}
h3 {
  @apply text-typography-1;
}
h4 {
  @apply text-typography-1;
}
h5 {
  @apply text-typography-1;
}
span {
  @apply text-typography-1 text-sm;
}
.card {
  @apply bg-dark-1 w-full h-full
  2xl:pl-10
  2xl:pr-10
  pl-6
  pr-6
    pt-6 pb-6 rounded-xl;
}
.skeleton {
  animation: skeleton-loading 1s linear infinite alternate;
}

/* add custom width and height to use this class */
.loading {
  @apply border-2 border-solid border-dark-9 rounded-full;
  border-top-color: #7f57ff;
  animation: loading 1s linear infinite;
}

@keyframes loading {
  to {
    transform: rotate(1turn);
  }
}

/* custom scrollbar */
/* width */
::-webkit-scrollbar {
  width: 2px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
